sudo: false

language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: nightly

script:
  - bin/create-idnamap.sh --debug test/assets/IdnaMappingTable.txt -
  - phpunit

notifications:
  email: false
